#card-image {
  height: 270px;
  width: 210px;
  padding: 15px;
  align-self: center;
}

#movie-card {
  height: 550px;
/*   width: 480px; */
  margin-top: 24px;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical
}