$standard-margin: 24px;

.poster {
  width: 250px;
  margin: $standard-margin 0;
}

.movie-poster {
text-align: center;

}

.movie-view {
  margin-top: $standard-margin;
}

.movie-description {
  margin-bottom: $standard-margin;
}

.movie-genre {
  margin-bottom: $standard-margin;
}

.title-row {
  margin-top: $standard-margin !important; 
}

.movie-row {
  margin-top: $standard-margin !important; 
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.back-button {
  padding: 0 10px;
}